* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothicRegular.woff2') format('woff2'),
         url('../fonts/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
	height: 847px;
	width: 100%;
	background: url(../img/header-bg.jpg) no-repeat center;
	background-size: cover; 
	font-family: 'League Gothic Regular', sans-serif;


}

		.topwrapper {
			max-width: 960px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}

				.logo {
					font-size: 48px;
					color: #fff;
				}

						.logo__end {
							color: rgb(195, 229, 75); 
						}

					


				.menu {
					display: flex;

				}

		.slider {
			height: 400px;
			background-color: rgba(0, 0, 0, 0.2);
			font-family: 'League Gothic Regular', sans-serif;
		}	

				.slider__wrapper {
					max-width: 960px;
					margin: 0 auto;
					display: flex;
				}	

						.slider__header {
							font-size: 60px;
							color: #fff;
							text-transform: capitalize;
						}

						.slider__subheader {
							font-size: 32px;
							color: #edbfff;
							text-transform: uppercase;
						}

						.slider__paragraph {
							font-family: "Open Sans";
							font-size: 18px;
							color: #fff;
						}

.container {
	height: auto;
}

